<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header><%- include("../partials/header"); %></header>
    <div class="form-container-user">
      <% users.forEach(user => { %>
      <div class="user-item">
        <p class="username"><%= user.username %></p>
        <form action="/users/delete/<%= user.id %>" method="POST">
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
      <% }) %>
    </div>
  </body>
</html>
