<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header><%- include("../partials/header"); %></header>
    <div class="wrapper">
      <% links.forEach(link => { %>
      <a href="<%= link.url %>"><%= link.title %></a>
      <% }) %>
    </div>
  </body>
</html>
